{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Editar Perfil - Empresa{% endblock %}

{% block content %}
<div id='containerHome' class="container">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <img src="/static/images/log-job.png" alt='Logo projeto' width="200px"/>
            <h2>Editar Perfil - Empresa</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 mid-section">
            <form method="POST" enctype="multipart/form-data"> 
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.nome_empresa.label(class="form-label") }}
                    {{ form.nome_empresa(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cnpj.label(class="form-label") }}
                    {{ form.cnpj(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.setor.label(class="form-label") }}
                    {{ form.setor(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.endereco.label(class="form-label") }}
                    {{ form.endereco(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.telefone.label(class="form-label") }}
                    {{ form.telefone(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.habilidades.label(class="form-label") }}
                    {{ form.habilidades(class="form-check") }} 
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.horas_semanais.label(class="form-label") }}
                        {{ form.horas_semanais(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.horas_diarias.label(class="form-label") }}
                        {{ form.horas_diarias(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.salario_ofertado.label(class="form-label") }}
                    {{ form.salario_ofertado(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.experiencia_necessaria.label(class="form-label") }}
                    {{ form.experiencia_necessaria(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.logo.label(class="form-label") }}
                    {{ form.logo(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary mt-3") }}
                <a href="{{ url_for('empresa_profile', empresa_id=empresa_id) }}" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
